# uploads直下のファイルおよび一時生成される画像は無視
backend/uploads/*
backend/uploads/cropped/*
backend/uploads/debug_match/*

# パターンマッチングに必要なAI学習テンプレート画像のみGit管理に含める
!backend/uploads/templates/
!backend/uploads/templates/*
